body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(colegio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.alumno, .profesor, .interesado {
    text-align: center;
    background-color: #001d3d;
    border: none;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 5rem 3rem;
    margin: 10px; 
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.4s ease;
    width: calc(100% - 40px); 
    max-width: 300px; 
}

.alumno:hover, .profesor:hover, .interesado:hover {
    transform: scale(1.1);
}

/* Media para celulares etc*/
@media (max-width: 768px) {
    .alumno, .profesor, .interesado {
        font-size: 24px; 
        padding: 3rem 2rem; 
    }
}

@media (max-width: 480px) {
    .alumno, .profesor, .interesado {
        font-size: 20px; 
        padding: 2rem 1.5rem; 
    }
}
